<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss.SSS} %-5level[%.15thread] %logger{5} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>
    <logger name="slick.backend.DatabaseComponent.action" level="debug">
        <appender-ref ref="ASYNC" />
    </logger>
    <logger name="slick.jdbc" level="error" >
        <appender-ref ref="ASYNC" />
    </logger>
    <logger name="slick.ast" level="error" >
        <appender-ref ref="ASYNC" />
    </logger>
    <logger name="slick.memory" level="error" >
        <appender-ref ref="ASYNC" />
    </logger>
    <logger name="slick.relational" level="error" >
        <appender-ref ref="ASYNC" />
    </logger>
    <logger name="slick.compiler" level="error" >
        <appender-ref ref="ASYNC" />
    </logger>
    <logger name="com.wordnik" level="error" >
        <appender-ref ref="ASYNC" />
    </logger>
    <logger name="com.gettyimages" level="error" >
        <appender-ref ref="ASYNC" />
    </logger>

    <logger name="com.jc.api" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC" />
    </logger>

    <root level="info">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
